<!DOCTYPE html>
<html lang="en">
<title>Forest Fire Predictor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee,.fa-map-o,.fa-fire {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="home" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    <a href="design-team" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-white">Design Team</a>
    <a href="visuals" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Visuals</a>
    
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Design Team</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a> -->
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a> -->
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-orange w3-center" style="padding:270px;background-image: url('/static/Logo1/cover.png');background-repeat: no-repeat; background-size: 1300px 550px">
</header>

<!--Sub Header-->
<div class="w3-row-padding w3-light-grey w3-container">
  <div class="w3-content">
    <div class="w3-center">
      <h1 class="w3-center w3-light-grey w3-jumbo w3-padding-64"><strong>Meet the Team!</strong></h1>

    </div>
  </div>
</div>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-48 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <a href="https://www.linkedin.com/in/oliver-foote/"><h1>Oliver Foote</h1></a>
      <h5 class="w3-padding-32">Worked on the frontend webdesign using HTML, and CSS in a flask framework, created an interactive webpage.</h5>

      <!-- <p class="w3-text-grey"></p> -->
    </div>

    <div class="w3-third w3-center">
      <a href="https://www.linkedin.com/in/oliver-foote/"><i class="w3-hover-opacity"  style="position: absolute; padding:100px; border-radius: 50%; background-image: url('/static/Oliver_img.jpg'); background-repeat: no-repeat; background-size: 200px 200px"></i></a>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third">
      <a href="https://www.linkedin.com/in/geevivek/"><i class="w3-hover-opacity" style="position: absolute; padding:100px; border-radius: 50%;background-image: url('/static/Gee_img.jpg');background-repeat: no-repeat; background-size: 200px 200px"></a></i>
    </div>

    <div class="w3-twothird w3-right">
      <a href="https://www.linkedin.com/in/geevivek/"><h1>Gee Vivek</h1></a>
      <h5 class="w3-padding-32">Worked heavily on the Machine Learning algorithm which helped us identify the forest fires and visualize the data.</h5>

      <!-- <p class="w3-text-grey"></p> -->
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-48 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <a href="https://www.linkedin.com/in/adityadutta32/"><h1>Aditya Dutta</h1></a>
      <h5 class="w3-padding-32">Worked on the Arduino to take temperature and moisture readings in order to prove the concept of predicting fires and integrating readings with the machine learning algorithm.</h5>

      <!-- <p class="w3-text-grey"></p> -->
    </div>

    <div class="w3-third w3-center">
      <a href="https://www.linkedin.com/in/adityadutta32/"><i class="w3-hover-opacity" style="position: absolute; padding:100px; border-radius: 50%;background-image: url('/static/Aditya_img.jpg');background-repeat: no-repeat; background-size: 200px 200px"></i>
    </div>
  </div>
</div>

<!-- Fourth grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third">
      <a href="https://www.linkedin.com/in/janki-chaudhari-44667a172/"><i class="w3-hover-opacity" style="position: absolute; padding:100px; border-radius: 50%;background-image: url('/static/Janki_img.jpg');background-repeat: no-repeat; background-size: 200px 200px"></i>
    </div>

    <div class="w3-twothird w3-right">
      <a href="https://www.linkedin.com/in/janki-chaudhari-44667a172/"><h1>Janki Chaudhari</h1></a>
      <h5 class="w3-padding-32">Worked on storing our data in google cloud using firebase to help with arduino data collection and sorting.</h5>

      <!-- <p class="w3-text-grey"></p> -->
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Prevent Fires Before They Happen.</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Igins Vigilante</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
